<!DOCTYPE html>

<html>
    <head>
        <title> Home </title>
        <link rel="stylesheet" href="loginpage.css">
    </head>

    <body>
        <form action = "http://localhost:5000/loginpage" method = "POST">

            <div id="form">            
                <div class="fields">
                    <p> Name : </p>
                    <p> <input type = "text" name = "nm"/> </p>
                </div>

                <div class="fields">
                    <p> Mail : </p>
                    <p> <input type = "email" name = "ml"/> </p>
                </div>

                <div class="fields">
                    <p> Password : </p>
                    <p> <input type = "password" name = "pwd"/> </p>
                </div>

                <p> <input type = "submit" value = "submit"/> </p>
            </div>
        </form>
    </body>
</html>